<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>

<div id="contacts">
  <ul class="contacts-ul">
    <li>
      <img src="<%= asset_path( 'email.png' ) %>" alt="" class="contacts-email">
      <a href="mailto:bae.annie@gmail.com">bae.annie@gmail.com</a>
    </li>

    <li>
      <img src="<%= asset_path( 'linkedin.png' ) %>" alt="" class="contacts-linkedin">
      <a href="https://www.linkedin.com/in/anniebae" target="_blank">LinkedIn</a>
    </li>

    <li>
      <img src="<%= asset_path( 'github.png' ) %>" alt="" class="contacts-github">
      <a href="https://github.com/anniebae" target="_blank">GitHub</a>
    </li>
  </ul>
</div>