<div class="contacts-wrapper">

  <div class="contacts-para">
    <p>
      Hey! You've reached my contacts page.
      <p>Feel free to shoot me an <a href="mailto:bae.annie@gmail.com"><b class="contact-link">email</b></a>. You can</p> find me on <a href="https://www.linkedin.com/in/anniebae" target="_blank"><b class="contact-link">LinkedIn</b></a> 
      and stalk my <a href="https://github.com/anniebae" target="_blank"><b class="contact-link">GitHub</b></a>, as well.
      For additional information, visit my 
      <p><a href="https://profiles.generalassemb.ly/annie-bae" target="_blank"><b class="contact-link">General Assembly Profile</b></a>.</p>
      <p>Cheers, Annie</p>
    </p>
  </div>

</div>