<div class="contacts-wrapper">

  <div class="contacts-para">
    <p>
      Hey!
      You've reached my contacts page. Feel free to shoot me an <a href="mailto:bae.annie@gmail.com"><b class="contact-link">email</b></a>. You can find me on <a href="https://www.linkedin.com/in/anniebae" target="_blank"><b class="contact-link">LinkedIn</b></a> 
      <p>and stalk my <a href="https://github.com/anniebae" target="_blank"><b class="contact-link">GitHub</b></a>, as well.</p>
      <p>Cheers, Annie</p>
    </p>
  </div>


<!--   <table class="contacts-table">
    <tr>
      <td>
        <img src="<%= asset_path( 'email.png' ) %>" alt="" class="contacts-email">
      </td>
      <td>
        <a href="mailto:bae.annie@gmail.com">bae.annie@gmail.com</a>
      </td>
    </tr>
    <tr>
      <td>
        <img src="<%= asset_path( 'linkedin.png' ) %>" alt="" class="contacts-linkedin">
      </td>
      <td>
        <a href="https://www.linkedin.com/in/anniebae" target="_blank">LinkedIn</a>
      </td>
    </tr>
    <tr>
      <td>
        <img src="<%= asset_path( 'github.png' ) %>" alt="" class="contacts-github">
      </td>
      <td>
        <a href="https://github.com/anniebae" target="_blank">GitHub</a>
      </td>
    </tr>
  </table> -->
</div>