<div class="index-wrapper">

  <div id="three-descriptions">
    <h3 id="caption">
      web developer <%= image_tag 'grey-square.jpg', :class => "grey-square" %> amateur photographer <%= image_tag 'grey-square.jpg', :class => "grey-square" %> matcha enthusiast
    </h3>
  </div>

  <div class="row">
    <div class="col-md-6">
      <div id="myphoto">
        <%= image_tag 'annieface.jpg', :class => "myface" %>
      </div>
    </div>

    <div class="col-md-6">
      <div class="about-me">
        <p>
          Hi! My name is Annie and I am a graduate from General Assembly's Web Development Immersive program. I want to impact, learn, and contribute to the technology industry by creating communicative applications and making things look pretty.
        </p>
      </div>
    </div>

</div>