<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>


<div id="index-div">
<h3>web developer <%= image_tag 'grey-square.jpg', :class => "grey-square" %> amateur photographer <%= image_tag 'grey-square.jpg', :class => "grey-square" %> matcha enthusiast</h3>


<%= image_tag 'annieface.jpg', :class => "myface" %>
</div>