<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>


<div id="index-div">
<%= image_tag 'annieface.jpg', :class => "myface" %>
<h3 id="caption">web developer <%= image_tag 'grey-square.jpg', :class => "grey-square" %> amateur photographer <%= image_tag 'grey-square.jpg', :class => "grey-square" %> matcha enthusiast</h3>


</div>