<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>


<div id="three-descriptions">
  <h3 id="caption">
    web developer <%= image_tag 'grey-square.jpg', :class => "grey-square" %> amateur photographer <%= image_tag 'grey-square.jpg', :class => "grey-square" %> matcha enthusiast
  </h3>
</div>


<div id="myphoto-withpara">
  <div id="myphoto">
    <%= image_tag 'annieface.jpg', :class => "myface" %>
  </div>

  <div class="about-me">
  <p>
    <em>"KISS: Keep it simple, stupid."</em><br>
    I am a firm believer of simplicity getting the job done. There's not enough time in the world to untangle your way through a complex problem (or site, in this case).
    I want to impact, learn, and contribute to the technology industry by creating communicative applications and making things look pretty.<br>
    [Also, I am a staunch supporter of the Oxford comma.]
  </p>
  </div>
</div>