<div id="projects">
  
  <div class="row">
    <div class="col-md-6">
      <h3>Project 1: RESTaurant</h3>
        <div class="project-photo">
          <%= image_tag 'RESTaurant.png', :class => "project-img" %>
          <div class="project-caption">
            <p class="project-text">
              In week 4 of 12:
              <br>
              CRUD application for waitstaff to manage food orders.
            </p>
          </div>
        </div>
      <a href="https://wdi-restaurant.herokuapp.com/" target="_blank" class="btn btn-default" target="_blank">Check it out</a>
    </div>

    <div class="col-md-6">
      <h3>Project 2: Whiskers</h3>
        <div class="project-photo">
          <%= image_tag 'whiskers.png', :class => "project-img" %>
          <div class="project-caption">
            <p class="project-text">
              In week 7 of 12:
              <br>
              Game modeled after hangman.
            </p>
          </div>
        </div>  
      <a href="https://wdi-whiskers.herokuapp.com/" class="btn btn-default" target="_blank">Check it out</a>
    </div>
  </div>

  <div class="row">
    <div class="col-md-6">      
      <h3>Project 3: Hike</h3>
        <div class="project-photo">
          <%= image_tag 'hike.png', :class => "project-img" %>
          <div class="project-caption">
            <p class="project-text">
              In week 9 of 12:
              <br>
              Location-based hike-finder developed as part of a group.
            </p>          
          </div>
        </div>
      <a href="http://wdi-hike.herokuapp.com/" class="btn btn-default" target="_blank">Check it out</a>
    </div>

    <div class="col-md-6">
      <h3>Project 4: Basic</h3>
        <div class="project-photo">
          <%= image_tag 'basic.png', :class => "project-img" %>
          <div class="project-caption">
            <p class="project-text">
              FINAL PROJECT:
              <br>
              Web application that measures how "basic" one is by utilizing Instagram's API.
            </p>
          </div>
        </div>
      <a href="https://wdi-basic.herokuapp.com/" class="btn btn-default" target="_blank">Check it out</a>
    </div>
  </div>

</div>