<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<h1>RESUME. eventually...</h1>

<%= link_to asset_path("AnnieBae_Resume.pdf"), :class => "btn btn-large btn-danger", :target => "_blank" do %>
My Resume
<% end %>