<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<h1>RESUME. eventually...</h1>
<br>Languages: Ruby, Javascript, HTML, CSS, SQL
<br>Frameworks: Rails, Sinatra, Bootstrap
<br>Libraries: jQuery, Underscore, Backbone
<br>Misc.: AJAX, PSQL, Git/GitHub, Instagram API