<div id="resume-info">

<%= image_tag 'myresume.png', :class => "resume-img" %>
<div id="resume-button">
  <%= link_to asset_path("AnnieBae_Resume.pdf"), :class => "btn btn-large btn-default", :target => "_" do %>
    My Resume
  <% end %>
</div>

</div>