<div class="fullscreen-row header">
  <header id="zw-header" class="main-header affix-top">
    <div class="main-header-wrap clearfix">
      ::before
      <div class="brand">
        <a href="#">
          ::before
          <img src="demo/logo.png" alt="Levitate">
          ::after
        </a>
      </div>
      <a href="#" id="nav-toggle" aria-hidden="true">
        <span></span>
      </a>
      <nav id="zw-nav" class="nav closed" aria-hidden="false" style="-webkit-transition: max-height 400ms; transition: max-height 400ms; position: relative;">
        <ul>
          <li><a href="#about">About</a></li>
          <li><a href="#projects">Projects</a></li>
          <li><a href="#github">GitHub</a></li>
          <li><a href="#resume">Resume</a></li>
          <li><a href="#photography">Photography</a></li>
        </ul>
      </nav>
      ::after
    </div>
  </header>
</div>