body {
  background-color: white;
}

.grey-square {
  height: 10px;
  padding-left: 20px;
  padding-right: 20px;
}


.anniebae {
  height: 80px;
  width: 80px;
  margin-left: 46%;
}

.myface {
  height: 200px;
}

#index-div {
  text-align: center;
}

#menu-item {
  padding-right: 30px;
}

.navbar .navbar-nav {
  font-family: 'Open Sans', sans-serif;
  font-weight: 300;
  font-size: 12px;
  display: inline-block;
  float: none;
  vertical-align: top;
}

.navbar .navbar-collapse {
  text-align: center;
}

.container {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 50px;
  padding-top: 30px;
}

.navbar {
  background-color: white;
  border-color: white;
}

.navbar-default .navbar-nav > li > a {
  color: black;
  -o-transition:.5s;
  -ms-transition:.5s;
  -moz-transition:.5s;
  -webkit-transition:.5s;
  transition:.5s;
}
.navbar-default .navbar-nav > li > a:hover {
  text-decoration: underline;
}

.container {
  background-color: white;
}

.table-container {
  padding-left: 16%;
  margin-top: 180px;
}

.carousel-indicators {
  left: 42%;
}

.carousel-control.left, 
.carousel-control.right {
    background-image: none
}

#chevron-arrows {
  width: 120%;
  margin-left: -20%;
  margin-top: 25%;
}

.photography {
  height: 50%;
  width: 80%;
}

#caption {
  text-align: center;
  font-family: 'Open Sans', sans-serif;
  font-weight: 300;
}

a {
  color: black;
}

a:hover {
  text-decoration: underline;
  color: black;
}

ul {
  list-style-type: none;
}

.contacts-ul {
  padding-left: 42%; 
}

.contacts-email {
  height: 50px;
}

.contacts-linkedin {
  height: 53px;
}

.contacts-github {
  height: 41px;
  padding-left: 5px;
}