body {
  background-color: white;
}

h3 {
  font-weight: 200;
}

.index-wrapper {
  margin: 20%;
}

.about-wrapper {
  margin-top: 7%;
}

.about-table {
  width: 100%;
  margin: 0 auto;
}

.about-me {
  width: 340px;
  font-weight: 200;
}

.grey-square {
  height: 10px;
  padding-left: 20px;
  padding-right: 20px;
}


.anniebae {
  height: 80px;
  width: 80px;
  margin-left: 46%;
}

.myface {
  height: 200px;
}

#three-descriptions {
  text-align: center;
}

#myphoto-withpara {
  margin-top: 3%;
}

#menu-item {
  padding-right: 30px;
}

.navbar .navbar-nav {
  font-family: 'Open Sans', sans-serif;
  font-weight: 300;
  font-size: 12px;
  display: inline-block;
  float: none;
  vertical-align: top;
}

.navbar .navbar-collapse {
  text-align: center;
}

.container {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 150px;
  padding-top: 30px;
  z-index: 1;
}

.navbar {
  background-color: white;
  border-color: white;
}

.navbar-default .navbar-nav > li > a {
  color: black;
}
.navbar-default .navbar-nav > li > a:hover {
  text-decoration: underline;
  color: lightgrey;
}

.container {
  background-color: white;
}

.table-container {
  padding-left: 16%;
  margin-top: 180px;
}

.row {
  padding-top: 5%;
}

#projects {
  margin-top: 15%;
  width: 80%;
  margin-left: 10%;
  padding-bottom: 5%;
}

.project-img {
  width: 100%;
}

.project-img {
  opacity: 1;
  border-radius: 7px;
}

.project-photo {
  position: relative;
  margin-bottom: 3%;
}

.project-caption {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1;
  display: none;
  height: 100%;
  width: 100%;
  background-color: lightgrey;
  opacity: 0.9;
  text-align: center;
  font-size: 13px;
  font-weight: 300;
  border-radius: 7px;
}

.project-text {
  width: 50%;
  margin: 25% auto;
}

.resume-img {
  width: 20%;
  margin-left: 40%;
}

.resume-img:hover {
  opacity: 0.5;
}

#resume-info {
  margin-top: 200px;
}

#resume-button {
  margin-left: 46.5%;
  padding-top: 1%;
}




.carousel-indicators {
  left: 42%;
}

.carousel-control.left, 
.carousel-control.right {
    background-image: none
}

#chevron-arrows {
  width: 120%;
  margin-left: -20%;
  margin-top: 25%;
}

.photography {
  height: 50%;
  width: 80%;
}

a {
  color: black;
}

a:hover {
  text-decoration: underline;
  color: lightgrey;
}

ul {
  list-style-type: none;
}

.contacts-wrapper {
  margin: 20%;
}

.contacts-table {
  margin: 0 auto;
}

#contacts {
  margin: 20%;
}

.contacts-ul {
  padding-left: 42%; 
}

.contacts-email {
  height: 50px;
}

.contacts-linkedin {
  height: 53px;
}

.contacts-github {
  height: 41px;
  padding-left: 5px;
}

.camera {
  width: 4%;
  margin-left: 48%;
  margin-top: 1%;

  opacity: 1;
  transition: opacity .25s ease-in-out;
  -moz-transition: opacity .25s ease-in-out;
  -webkit-transition: opacity .25s ease-in-out;
}

.camera:hover {
  opacity: 0.5;
}



#mail-form {
  margin: 25%;
}